<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.caihan.scframe">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application>
        <!--<provider-->
            <!--android:name="com.caihan.scframe.update.UpdateFileProvider"-->
            <!--android:authorities="${applicationId}.updatefileprovider"-->
            <!--android:exported="false"-->
            <!--android:grantUriPermissions="true">-->
            <!--<meta-data-->
                <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
                <!--android:resource="@xml/update_cache_path"/>-->
        <!--</provider>-->
    </application>

</manifest>
